table{
    margin: 0 auto;
    background-color: #0D98BA;
    border-radius: 10px;
    border: 3px solid #000;
}

td, td div{
    width: 100px;
    height: 100px;
    margin: 0%;
    border-radius: 10px;
    border: 3px solid #000;
}

td{
    padding: 5px; 
    border-radius: 50%;
    background-color: #FFF;
}

.zuta{
    background-color: #FF0;
}

.crvena{
    background-color: #F00;
}

#score{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-family: 'Arial';
}

#restart{
    background-color: rgba(255, 255, 255, 0.609);
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0 auto;
    width: 20%;
    font-family: 'Arial';
}

/* make active class for current player */
.active{
    /* change text color */
    color: #0f0;
}